# ==============================================================================
# Variables para Docker Compose (Entorno Local)
# IMPORTANTE: Asegúrate de añadir este archivo (.env) a tu .gitignore
# ==============================================================================

# Configuración del Contenedor de MySQL
MYSQL_ROOT_PASSWORD=EqYuvdYdBSfOGGzgvREJyWTiLrmFbbZL
MYSQL_DATABASE=railway
MYSQL_HOST_PORT=3306
MYSQL_CONTAINER_PORT=3306

# Configuración del Contenedor de la Aplicación (Spring Boot)
APP_HOST_PORT=8080

# Credenciales de acceso para Spring Boot (Reutilizan las variables de arriba)
DB_USERNAME=root
DB_PASSWORD=${MYSQL_ROOT_PASSWORD}

# URL de conexión de Spring Boot (Reutiliza el nombre del servicio 'mysql' y la base de datos)
DB_URL_DOCKER=jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

# Seguridad JWT (Mínimo 32 caracteres)
JWT_SECRET=change-me-jwt-secret-with-32-or-more-characters

# API externa
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODNlMzlmYTdiMTIwY2Y2YTMxNGMxZmY4M2ZhOTNlZSIsIm5iZiI6MTc3NzkwMDk3OC41MzQwMDAyLCJzdWIiOiI2OWY4OWRiMmU0ZTJmMWRmZmEzMjcwNTAiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ScC6ArNaiTRN7ujb9-FSU975gf9d_wkJuZB2pEa-W3s